html, body, {
  height: 100%;
  width: 100%;
}

.intro {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: #d8e1e9ff;
}

#container {
  max-width: 700px;
  margin: 0 auto;
}

h1, h2, h3, .nav {
font-family: 'Anybody', cursive;
text-align: center;
  color: #7392b7ff;
}

.rounded {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
}

h1 {
  margin: 0 auto;
  font-size:80px
}

h2 {
  font-size:25px
}

h3 {
  font-size:45px
}

.nav, .nav ul, .nav li {
 list-style-type: none;
  margin: 0 auto;
  padding: 2px;
  overflow: hidden;
  background-color: #7392b7ff;
  font-size: 20px;
}
.nav li {
  float:left;
  border-right: 1px solid #bbb;
}

.text-center, .about, ul li {
  font-family: 'Anybody', cursive;
  text-align: initial;
}

ol {
  text-align: initial;
}

.contact ul {
  text-align: center;
}

.contact ul li {
  display: inline;
  list-style-type: none;
}

/* unvisited link */
a:link {
  color: white;
}
/* visited link */
a:visited {
  color: white
}
/* mouse over link */
a:hover {
  color: #d8e1e9ff;


/* CSS HEX */
--beau-blue: #c5d5eaff;
--air-superiority-blue: #759eb8ff;
--shadow-blue: #7392b7ff;
--light-steel-blue: #b3c5d7ff;
--gainsboro: #d8e1e9ff;