html, body {
  height: 100%;
  width: 100%;
}

.intro {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
  background-color: #d8e1e9ff;
}

#container {
  max-width: 700px;
  margin: 0 auto;
}

h1, h2, h3 {
font-family: 'Anybody', cursive;
text-align: center;
  color: #7392b7ff;
}

.rounded {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
}

h1 {
  font-size:80px
}

h2 {
  font-size:25px
}

h3 {
  font-size:45px
}

.text-center, .about, ul li {
  font-family: 'Anybody', cursive;
  text-align: initial;
}
.contact {
  border: 1px solid #759eb8ff;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
ol {
  text-align: initial;
}

.contact ul {
  text-align: center;
}

.contact ul li {
  display: inline;
  list-style-type: none;
}

/* CSS HEX */
--beau-blue: #c5d5eaff;
--air-superiority-blue: #759eb8ff;
--shadow-blue: #7392b7ff;
--light-steel-blue: #b3c5d7ff;
--gainsboro: #d8e1e9ff;